html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #838383;
}

p {
    margin: 0;
    padding: 0.1em;
    text-align: center;
    font-size: 0.9em;
}

.icon {
    padding: 1em;
}

.flex {
    display: flex;
}

.f-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black-bg {
    background-color: #000000bf;
    width: 100%;
    height: 100%;
}

.btn {
    margin-top: 3em;
    font-size: 0.75em;
    padding: 1em 1.5em;
    border-radius: 20px;
    border: 2px solid #40cc47;
    color: white;
    text-transform: uppercase;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section-desc {
    text-align: center;
    padding-top: 0.1em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.section-title {
    font-size: 2.75em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 0.25em;
    margin: 0;
}

.article-title {
    font-size: 1.25em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0;
    margin: 0;
}

.t-left {
    text-align: left;
}

.p-top {
    padding-top: 1em;
}

#site-title {
    background: url(img/header-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav {
    margin: 0;
}

.navigation {
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: #fff;
}

.main-site-title {
    text-align: center;
    font-size: 4em;
    color: white;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 2em 0;
}

#site-title .btn {
    background-color: #40cc47;
}

#services .wrapper article {
    width: 30%;
    margin: 1.66%;
    flex-direction: column;
}

#relax .shape {
    width: 30%;
    background-color: #dddddd;
}

#relax .shape img {
    max-width: 100%;
    float: right;
    padding: 2.5em 0;
}

#relax article {
    width: 70%;
    background: url(img/relax-bg.png);
    background-size: cover;
    background-position: center;
}

#relax article .section-title {
    color: #fff;
    text-align: left;
    margin: 0;
    padding-top: 0
}

#relax .content {
    padding: 3em;
}

.section-title span {
    color: #40cc47;
}

.thick {
    width: 25px;
    height: 25px;
    margin-right: 1em;
}

.div .btn {
    background-color: #40cc47;
}

.btn-area .btn {
    margin-top: 5em;
}

.div {
    height: 2.5em;
    align-items: center;
    margin: 0;
    padding: 0;
}

#relax article p {
    text-align: left;
    padding-bottom: 1em;
}

#project .wrapper .left {
    width: 50%;
}

#project .wrapper .right {
    width: 50%;
    background: url(img/isometric.png);
    background-size: cover;
    background-position: center;
}

.left .container {
    width: 60%;
}

.left .container .article-title {
    padding-bottom: 1em;
}

.text {
    padding-top: 2em;
}

.text .article-title,
p {
    padding: 0.5em 0;
}

#project .div {
    padding: 1.5em 0;
}

#project h3 {
    color: #000;
    padding: 0;
    margin: 0;
}

#project h5 {
    padding: 0;
    margin: 0;
}

.circle {
    width: 45px;
    height: 45px;
    padding: 0.75em;
    border: 3px solid #000;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.basket {
    width: 40px;
    height: 35px;
}

.laptop {
    width: 45px;
    height: 35px;
}

.lock {
    width: 30px;
    height: 40px;
}

.icon-desc {
    padding-left: 1.5em;
}

.view {
    color: #40cc47;
    border: none;
    font-weight: 600;
    font-size: 1em;
    padding: 0;
    margin-top: 1em;
}

#culture {
    background-color: #dddddd;
}

#culture .wrapper article {
    width: 30%;
    margin: 1.66%;
}

#culture .circle {
    padding: 1.5em;
    border-color: #888888;
}

#culture .article-title {
    padding-bottom: 0.25em;
}

.row {
    width: 80%;
    margin: 3em auto;
    justify-content: space-around;
    align-items: center;
}

.row .circle {
    height: auto;
    padding-top: 15%;
    width: 15%;
    border-radius: 50%;
    background-color: #dddddd;
    border: none;
    margin: 1em;
}

.row .opinion {
    width: 80%;
    background-color: #dddddd;
}

.opinion figcaption {
    color: #40cc47;
    text-align: center;
}

blockquote {
    padding: 1em;
    margin: 0;
    text-align: center;
}

figure {
    padding: 0.25em;
    margin: 0
}

#contact {
    background-color: #40cc47;
    height: 200px;
    width: 100%;
}

#contact h2 {
    color: white;
}

#contact .btn {
    font-size: 1em;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 1em 1.2em;
    color: #fff;
    background-color: #40cc47;
    border-radius: 5px;
}

footer {
    padding: 1em 0;
    background-color: #222222;
    color: #fff;
}

footer strong a {
    color: #40cc47;
}

@media only screen and (max-width: 768px) {
    .main-site-title {
        padding: 0.15em 0;
    }
    .btn-area .btn {
        margin-top: 2.5em;
    }
    #project .wrapper {
        flex-direction: column
    }
    #project .wrapper .left {
        width: 100%;
    }
    #client .row {
        width: 95%;
    }
    #clients .container {
        width: 95%;
    }
    #clients blockquote {
        padding: 0.25em;
        margin: 0;
        text-align: center;
    }
    .row {
        flex-direction: column;
    }
    .row .circle {
        order: 1;
    }
    .row .opinion {
        order: 2;
    }
    .contact-text {
        padding: 1.5em;
    }
}

@media only screen and (max-width: 640px) {
    .main-site-title {
        padding: 0.15em 0;
        font-size: 2.5em;
    }
    .btn-area .btn {
        margin-top: 2.5em;
    }
    .section-title {
        font-size: 1.75em;
    }
    .article-title {
        font-size: 1.25em;
    }
    h4 {
        margin: 0;
        max-width: 90%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .wrapper {
        flex-direction: column;
    }
    #services .wrapper article {
        width: 90%;
        padding: 0.5em;
    }
    #culture .wrapper article {
        width: 90%;
        padding: 0.5em;
    }
    .contaner {
        width: 95%;
    }
    .row {
        width: 100%;
    }
    .left .container {
        width: 90%;
        padding: 0.25em;
    }
    .shape {
        display: none;
    }
    #relax article {
        width: 100%;
    }
    .main-site-title {
        padding: 0.15em 0;
        font-size: 2.5em;
    }
    .btn-area .btn {
        margin-top: 1.5em;
    }
    .section-title {
        font-size: 1.25em;
    }
    .article-title {
        font-size: 1em;
    }
}


/********NAVIGATION************/

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 60px;
    background-color: #fff;
    color: #000
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #000;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 0.75em;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

nav .links a:hover {
    color: #40cc47;
    text-decoration: underline;
    text-decoration-color: #000;
    text-underline-offset: 5px;
    transition: color 0.2s
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #000;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
    nav .links a {
        color: #fff;
    }
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 60px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked~.links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

.youtube-link {
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: #000;
    text-decoration: none;
    font-size: 12px;
}